<% if @work_orders.any? %>
  <ol>
    <% @work_orders.each do |work_order| %>
      <li>
        <%= link_to work_order.title, work_order %> - 
        <%= work_order.deadline %>
      </li>
    <% end %>
  </ol>
<% end %>